<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
    <tr>
        <th class="bookIdRow">Id</th>
        <th class="mdl-data-table__cell--non-numeric">Title</th>
        <th class="mdl-data-table__cell--non-numeric">Author</th>
        <th>IsReserved</th>
    </tr>
    <tr *ngFor="let book of books; let i = index">
        <td class="bookIdRow">{{book.Id}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{ book.Title }}</td>
        <td class="mdl-data-table__cell--non-numeric">{{ book.Author }}</td>
        <td>{{ book.isReserved }}</td>
        <td class="tdButton"><reserve-button [isReserved]="book.isReserved"  (onFinished)="handleEventFinished($event)"  bookId="{{book.Id}}"></reserve-button></td>
    </tr>
<table>
